/* Breadkpoints */
$breakpoint-pc: 1920px;
$breakpoint-pad: 768px;
$breakpoint-pad-630px: 630px;
$breakpoint-mobile: 415px;


/*主色+輔助色*/
$primary-color1: #204379;
$primary-color2: #b57556;
$primary-color3: #dae4f1;
$primary-color4: #E2D9D3;
$primary-color5: #D3C3B8;
$primary-color6: #B3B960;
$primary-color7: #A0BCC8;

$text-color1: #000000;
$text-color2: #212121;
$text-color3: #424242;
$text-color4: #6C6C6C;
$text-color5: #757575;
$text-color6: #9E9E9E;
$text-color7: #bdbdbd;
$text-color8: #E0E0E0;
$text-color9: #F5F5F5;
$text-color10: #FAFAFA;
